OpenTextSampleApp/OpenTextSampleApp/Control.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="content">
<xs:complexType>
<xs:sequence>
<xs:element name="sender" type="xs:string" />
<xs:element name="recipients">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="recipient" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="subject" type="xs:string" />
<xs:element name="messagebody" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>